@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;;
    background-color: #fff;
    max-width: 1920px;
}

.header {
    text-align: center;
}


@media (max-width:1920px) {
    max-width: 820px;
    }

@media (max-width:810px) {
        max-width: 320px;
    }

.bayan {
    position: relative;
    margin-bottom: 3px;
    width: 50%;
    color: #b13434;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.bayan input {
    position: absolute;
}
.bayan label {
    position: relative;
  display: block;
  padding: 0.5em;
  background: #f59b9b;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  border: 10px;
  border-color: rgb(17, 112, 196);
}
.span {
    position: relative;
}

.bayan_content {
    max-height: 0;
    overflow: hidden;
    display: block;
}

.bayan_image {
    height: 200px;
    width: 300px; ;
}

.bayan input:hover ~ .bayan_content {
    max-height: 100vh;
    transition: 1s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
background: green;
width: 50%;
overflow: hidden;
height: 18px;
}

p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: auto;
}

.mem-container:hover {
    height: 250px;
    transition: 1s linear;

   
}

.mem-container:hover p span {
    transform: rotate(45deg);
}